<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='/css/main.css')}}" />
</head>
<body>
<h1> Registration Form </h1>

        <form action="http://localhost:5000/form/example" method="POST">
       <input type="text" name="stud_name" placeholder="Enter name"><br>
       <input type="text" name="stud_no",placeholder="Enter no.">   <br>
      <input type="submit" value="Click here" >
        </form>
</body>
</html>